* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
}

html {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

main {
    height: 100%;
}

.container {
    max-width: 1150px;
    padding: 0 2%;
}

::-webkit-scrollbar {
    display: none;
}

#progressBarContainer {
    position: fixed;
    z-index: 999;
    background: rgba(255, 255, 255, 0.05);
}

#progressBar {
    position: absolute;
    will-change: transform, opacity;
    background: linear-gradient(to top, #E3A662, #0A0A0A);
    transform-origin: top center;
    transform: scale(1, 0);
    opacity: 0;
}

#progressBarContainer,
#progressBar {
    top: 0;
    right: 0;
    bottom: 0;
    width: 10px;
}
  
