* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    height: 100%;
}

main {
    height: 100%;
}

.teste1 {
    height: 1982px;
}
