:root {
    --orange-pattern: #E3A662;
    --orange-soft: #D0A067;
    --black-pattern: #0A0A0A;
    --black-soft: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

html, body {
    height: 100%;
}

html {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
}

main {
    height: 100%;
}

.container {
    max-width: 1150px;
    padding: 0 2%;
}

.container > h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.75rem;
    font-weight: 700;
    color: white;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}


  
