#products {
    background-color: var(--black-pattern);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 140px 0;
}


#products .products-wrapper, #products .beard-product, #products .hair-product, #products .product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#products .products-wrapper {
    margin-top: 100px;
}

#products #beard-product > h1, #products #hair-product > h1 {
    color: white;
    font-weight: 700;
    margin-bottom: 30px;
    font-size: 1.6rem;
}

#products #beard-product {
    width: 50%;
    margin-right: 80px;
}

#products #hair-product {
    width: 50%;
}

#products .product-wrapper {
    height: 100%;
}

#products .product-wrapper:not(:last-child) {
    margin-bottom: 30px;
}

#products .product-wrapper h1 {
    color: white;
    font-weight: 700;
}

#products .product-wrapper p {
    color: white;
    font-size: .85rem;
    font-style: italic;
}

#products .product-img {
    width: 15%;
    height: 100%;
    min-width: 80px;
    min-height: 80px;
    background-color: var(--black-soft);
    border-radius: 80px;
}

#products .product-img img{
    width: 100%;
    height: 100%;
}

#products .product-description {
    width: 60%;
}


#products .price-product p {
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 1px dotted rgb(255, 200, 145);
    padding: 5px;
    border-radius: 5px;
}

@media screen and (min-width: 1280px) {
    #products .container {
        min-width: 1150px;
    }
}

@media screen and (max-width: 1000px) {
    #products {
        padding: 80px 0;
    }

    #products .products-wrapper {
        width: 100%;
        flex-direction: column;
    }

    #products #beard-product {
        width: 70%;
        margin-right: 0;
    }

    #products #hair-product {
        width: 70%;
        margin-top: 30px;
        margin-right: 0;
    }

    #products .product-img {
        margin-right: 10px;
    }

    #products .product-description {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    #products .products-wrapper {
        width: 100%;
        flex-direction: column;
    }

    #products #beard-product {
        width: 90%;
        margin-right: 0;
    }

    #products #hair-product {
        width: 90%;
        margin-right: 0;
    }

    #products .product-img {
        margin-right: 10px;
    }

    #products .product-description {
        width: 50%;
    }
}